{% load mul %}

{% load static %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}" />
</head>
<body>
<h1>Account Name : {{ account.account_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table border="1">
<form action="{% url 'account:addtrans' account.id %}" method="post">
{% csrf_token %}
<tr>
    <th>เวลา</th>
    <th>รายละเอียด</th>
    <th>รายรับ</th>
    <th>รายจ่าย</th>
</tr>

{# ------------ตารางรายรับรายจ่าย---------------------------- #}
{% for detail_list in account.transaction_set.all %}
    <tr><td width="20%">{{ detail_list.date }}</td><td>{{ detail_list.detail }}</td>
    {% if detail_list.value < 0 %} <td></td>
    <td style="color:red;">{{ detail_list.value|mul:-1 }}</td>
    {% else %} 
    <td style="color:9698ea;">{{ detail_list.value }}</td><td></td>
    {% endif %}</tr>
{% endfor %}
<tr style="background-color: #4CAF50;color: white;"><td>Total money : {{ account.total }}</td></tr>
</table>
<br>


<table>
    <tr>
{# ------------------Add Transaction------------------ #}
<th><h1>Add Transaction</h1></th>
<th><h1>Edit Name</h1></th></tr>
<tr>
<td>
<b>รายละเอียด
<br>
<input type="text" class="textinput" name="detail"/>
<br>จำนวนเงิน
<br>
<input type="number" class="textinput" name="value"/><br>
ชนิด<br>
  <input type="radio" name="t_type" value="income"> รายรับ
  <input type="radio" name="t_type" value="expense"> รายจ่าย<br>
<input type="submit" class="button" value="Add transaction" />
</form></td></b>
{# ------------------Edit Name------------------ #}
<td><form action="{% url 'account:editname' account.id %}" method="post">
{% csrf_token %}
<h1>Edit Account name : </h1>
Name:
<br>
<input type="text" class="textinput" name="name"/>
<input type="submit" class="button" value="Edit !" />
</form></td>
    </tr>
</table>




<br><br><a href="{% url 'account:index' %}"><input type="submit" class="button" style="background-color:#4747d1;" value="Select Account" /></a>
</body>