{% load static %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}" />
</head>
<body>
<table>
<center>
{% if account_list %}
    <tr><h1>Select Account</h1></tr>
    <tr><th>Account Name</th><th>Total</th></tr>
    <form action="{% url 'account:del_account' %}" method="post">  
    {% for a in account_list %}
        <tr><td><input type="radio" name="account_id" value="{{ a.id }}" />
        <a href="{% url 'account:detail' a.id %}">{{ a.account_name }}</td>
        <td>{{ a.total }}</td></tr></a>
    {% endfor %}

{% csrf_token %} 
<tr><td><input type="submit" class="button" style="background-color:#db4e4e;" value="Delete Selected Accout" /> {{ error_msg }}</td></tr>
</form>
{% else %}
    <p>No account are available.</p>
{% endif %}

{# ------------------Add Account ------------------ #}
<form action="{% url 'account:add_account' %}" method="post">
{% csrf_token %}
<th><h1>Add Account</h1></th>
<tr>
<td>
<b>Account Name
<br>
<input type="text" class="textinput" name="account_name"/><br>
<input type="submit" class="button" value="Add Accout" />
</form></td>
</table>
</center>
<a href="{% url 'index' %}" class="button" style="background-color:#4747d1;">Back to Home</a>
</body>